<!-- dev: Francesco Cimino; -->
<!-- proj: Vue To tasksList; -->
<!-- lang: html; -->

<!DOCTYPE html>
<html lang="en">

<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css -->

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /vue -->
    
    <title>Vue To Do List</title>
</head>
<!-- /head -->

<!-- body -->
<body>
    
    <div id="root" class="container">

        <!-- header-section -->
        <header>
            <div class="logo">
                <img src="img/booleanLogo.png" alt="boolean logo image">
                <h1>Boolean to-do list</h1>
            </div>

            <!-- check-box-to-do-list-task -->
            <div class="box">
                <label for="input-task"></label>
                <input type="text" id="input-task" v-model="inputTask" placeholder="New Task" @keyup.enter="enterNewTask">
                <button @click="enterNewTask">Add new task</button>

                <!-- minimum-chars -->
                <div class="error-message" :class="validator ? 'none':'block'">
                    <small>{{ errorMessagge }}</small>
                </div>
                <!-- /minimum-chars -->

            </div>
            <!-- /check-box-to-do-list-task -->

        </header>
        <!-- /header-section -->

        <!-- tasks-container -->
        <div class="tasks-container">
            <ul>
                <li v-for="(item,index) in tasksList"> 
                    <span :class="{ check : item.done }" @click="checkElement(index)">{{ item.task }}</span>
                    <span @click="taskCompleted(index)">&cross;</span>
                </li>
            </ul>
        </div>
        <!-- /tasks-container -->
        
    </div>

    <!-- js -->
    <script src="js/script.js"></script>
    <!-- /js -->

</body>
<!-- /body -->

</html>